@model List<Book>

<h2>Books List</h2>
<table class="table">
	<thead>
		<tr class="table-primary">
			<th>Title</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>Published Date</th>
			<th>Availability</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var book in Model)
		{
			<tr>
				<td>@book.Title</td>
				<td>@book.Author</td>
				<td>@book.ISBN</td>
				<td>@book.PublishedDate.ToString("yyyy-MM-dd")</td>
				<td>
					<span class="@(book.IsAvailable ? "bg-success text-white rounded-pill px-2 py-0 d-inline-block fw-bold"
                                    : "bg-danger text-white rounded-pill px-2 py-0 d-inline-block fw-bold")">
						@(book.IsAvailable ? "Available" : "Unavailable")
					</span>
				</td>

				<td>
					<a asp-action="Details" asp-route-id="@book.BookId" class="btn btn-primary">Details</a>
					<a asp-action="Edit" asp-route-id="@book.BookId" class="btn btn-primary">Edit</a>
					<a asp-action="Delete" asp-route-id="@book.BookId" class="btn btn-danger">Delete</a>
					@if (book.IsAvailable)
					{
						<a asp-action="Borrow" asp-route-id="@book.BookId" class="btn btn-warning">Borrow</a>
					}

				</td>
			</tr>
		}
		</tbody>
	</table>
	<a asp-action="Create" class="btn btn-primary">Add New Book</a>
